# Ignorar compilaciones y artefactos de Rust
/target/
**/*.rs.bk
*.lock
Cargo.lock
debug/
**/*.rs.bk

# Archivos temporales de editores
*.swp
*.swo
*.bak
*.tmp
*.old
*~
.idea/
.vscode/
*.pdb

# Configuraciones del sistema
.DS_Store
Thumbs.db
*.log

# Archivos de bases de datos
/data/libreria.db

